$primary-color-hsl: (
  100: "219, 30%, 18%",
  200: "217, 28%, 15%",
  300: "218, 28%, 13%",
  600: "216, 53%, 9%",
);

$accent-color-hsl: (
  100: "176, 68%, 64%",
  300: "198, 60%, 50%",
);

$error-color: hsl(0, 100%, 63%);
